/* You can add global styles to this file, and also import other style files */
:root {

  /*typographys*/
  --typography: 'Ubuntu', sans-serif;

  /*colors*/
  --green: #2ec4b6;
  --red: #f44336;
  --grey:#dee1f0;
  --white: #fff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1rem === 10px*/
}
*, *:before, *:after {
  box-sizing: inherit;
}
